.well-lispa-dark {
  border: none;
  background-color: #003A60;
  color: #ffffff;
  box-shadow: none;
}
.btn-sort_column {
  background-color: white;
  padding: 0;
  border: 0;
}
.btn-sort_column .active {
  color: #FF4500;
}
.width_tight {
  width: initial;
}
.width_max {
  width: 100%;
}
.width_5_pc {
  width: 5%;
}
.width_10_pc {
  width: 10%;
}
.bg_lev_2 {
  background-color: #E1F5FE;
}
.bg_lev_3 {
  background-color: #C9EDFC;
}
.bg_lev_4 {
  background-color: #B3E5FC;
}
.bg_lev_5 {
  background-color: #9ADDFC;
}
.graphic_container {
  margin-right: 0;
}
.graphic_container:hover {
  background-color: #ffffff;
}
div .sub_table_container {
  padding-left: 10px;
}
.sub_table_container .table {
  /* margin-top: 20px; */
}
.sub_table_container .table > thead > tr > th {
  border: 0;
  padding: 2px;
}
.sub_table_container .table > tbody > tr > td {
  padding: 2px;
}
.sub_table_container .table.table-tight {
  width: auto;
}
.sub_table_container .table.table-tight> tbody > tr > td {
  padding: 5px;
}
/* bar_chart  */
.bar1 {
  fill: steelblue;
}
.bar2 {
  fill: #003354;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.bar_chart_legend {
  font: 12px sans-serif;
}
.donut_text {
  font: 12px sans-serif;
}
td .border-right {
  border-right: 1px solid #ddd;
}
.pie_box {
  margin: 5px;
}
.bar1:hover,
.bar2:hover {
  fill: orangered ;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.sr-only {
  font-size: 0.1em;
}
.red {
  color: #8D0045;
}
.green {
  color: #348D45;
}
.orange {
  color: #FF4500;
}
.blue {
  color: #003A60;
}
.title {
  font-size: inherit;
}
#barra_istituzionale .logo {
  top: 18px;
}
@media screen and (min-width: 768px) {
  #barra_istituzionale .logo {
		left: 5px;
	}
  #barra_ricerca {
    margin-top: 10px;
  }
}
@media screen and (max-width: 991px) {
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding-right: 2px;
    padding-left: 2px;
  }
  .btn-group {
    white-space: nowrap;
    display: flex;
    .btn {
      float: none;
      display: inline-block;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
  }
  div .sub_table_container {
    padding-left: 2px;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  #barra_istituzionale .sigla {
  	font-size: 1.6em;
  	display: inline;
  }
  #barra_istituzionale .logo {
		left: 0;
	}
}
.home {
  height: 900px;
	background:image-url("pirellone.jpg");
	background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}
.center {
  text-align: center;
}
.inline {
  display: inline;
}
.blank {
  color: blank;
}
