<a href="#content" class="sr-only sr-only-focusable">Vai al contenuto principale</a>
<div id="barra_istituzionale" class="clearfix">
  <div class="logo hidden-xs">
    <a href="http://www.consiglio.regione.lombardia.it">
      <%= image_tag("consiglio_regionale_lombardia_logo.png", :alt => "Consiglio Regionale della Lombardia") %>
    </a>
  </div>

  <div class="numero_verde text-center visible-lg"></div>

  <div class="text-center">
    <div class="area_titolo">
      <div class="sigla" tabindex="0">Pubblica.Lo </div>
      <span class="separatore_titolo"> | </span> 
      <div class="titolo_esteso" tabindex="0">Il bilancio del Consiglio regionale <span class="hidden-xs hidden-sm">della Lombardia</span></div>
    </div>
  </div>
</div>

